<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .my-custom-text {
        font-size: 40px;
      }

      .my-custom-text-questao {
        font-size: 35px;
        background-color: rgb(73, 73, 73);
      }

      .quiz-container {
        background-color: white;
        max-width: 700px; 
        word-wrap: break-word; 
      }

      .back {
        background-color: black;
      }

      .logo {
        font-size: 120px;
        color:rgb(95, 40, 250);
        font-family: 'Pacifico', cursive;
        position: relative;
        z-index: 10;
      }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
    <title>Quizzin' Easy</title>
</head>
<body class="back">
    {{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="/public/index_3.js" type="text/javascript"></script>
</body>
</html>